.header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

body
{
    font-family: Verdana, sans-serif;
    background-color: rgb(72, 82, 78);
}

h1, h2, a
{
    color: wheat;

}

.header a
{
    text-decoration: none;

}

.header-wrap img
{
    height: auto;
    width: 300px;
}

p, li
{
    color: oklch(0.928 0.006 264.531);

}
